* {
  padding: 0;
  margin: 0;
}
 
body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
 
 
/*
  AppBar
*/
 
.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__brand h2 {
  color: green;
  text-transform: uppercase;
  font-size: 20px;
  user-select: none;
}
 
.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}


.app-bar .app-bar__navigation.open {
  left: 0;
}
 
/* mengatur 44x44 dimensi */
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
/* ----- */

.app-bar__navigation ul li  a:hover {
  color: #2ecc71; 
  transition: color 0.4s ease, font-weight 0.3s ease;
}


/* Jumbotron styles */
.jumbotron {
  padding: 5rem;
  margin-bottom: 0;
  background-image: url('../../dist/images/hero-image-small.jpg'); 
  background-position: center;
  text-align: center;
}

.jumbotron h1 {
  font-size: 2em;
  color: rgba(250, 252, 250, 0.767); 
  
}

.jumbotron p {
  font-size: 0.8em;
  color: rgba(254, 255, 254, 0.911); 
}
 
/*
  Main Content
*/
 
main {
  padding: 32px;
  flex: 1;
}
 
.content {
  margin: 0 auto;
  min-height: 100%;
}
 
.content .content__heading {
  font-weight: normal;
}
 
 
/*
  restaurant
*/
 
.restaurant {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}
 
 
/*
  restaurant Item
*/
 
.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}
 
.restaurant-item__header {
  position: relative;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
  width: 100%;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
  margin-left: 10px;
}
 
.restaurant-item .restaurant-item__content {
  padding: 16px;
}
 
.restaurant-item .restaurant-item__content h3 {
  margin: 0 0 10px 0;
}
 
.restaurant-item .restaurant-item__content h3 a {
  color: green;
  text-decoration: none;
}
 
.restaurant-item .restaurant-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
 
 
/*
  restaurant
*/
 
.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}
 
.restaurant .restaurant__poster {
  width: 100%;
  max-width: 400px;
}
 
.restaurant .restaurant__info h4 {
  margin: 8px 0;
}
 
 
 

/* Footer styles */
#footer {
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
}

.f-logo img{
  width: 250px;
  cursor: pointer;
}
.f-content i{
  font-size: 28px;
  color: rgb(252, 252, 252);
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
  
}
.f-content i:hover {
  background: #2ecc71;
  color: #ffffff;
  border-radius: 5px;
}

.text-light{
  font-size: 1rem;
}
.c-content {
  margin-top: 20px;
  font-size: 1rem;
}

.c-content a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}




/* cardresto */
.main-resto_container {
  margin: 2em auto;
  font-size: 28px;
  color: #0f0f0f; 
  background-color: #f8f9fa; 
  padding: 15px; /* Padding yang cukup untuk memberikan ruang di sekitar teks */
  margin-bottom: 30px;
}

.main-resto_label {
  margin: auto;
  width: max-content;
  font-size:large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-resto_label hr {
  margin-top: 0;
  width: 50%;
  border-bottom: 1px solid green;
}

.list-resto {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* Menentukan 3 kolom sejajar */
  grid-gap: 16px;
}

.resto-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: top ease 0.4s;
  cursor: pointer;
  max-width: 400px;
  width: 100%; 
}


.resto-item:hover {
  top: -4px;
}

.resto-title {
  display: flex;
  justify-content: space-between;
}

.resto-item a {
  text-decoration: none; /* Menghapus underline dari tautan */
  color: black; 
}

.resto-item_image {
  object-fit: cover;
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
}

.resto-item_city,
.resto-item_rating,
.resto-item_name,
.resto-item_desc {
  padding: 0 16px;

}

.resto-item_city {
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}

.resto-item_rating {
  color: black;
  text-decoration: none;
  margin: 0 0 0 5px;
  padding: 2px 3px;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.resto-item_name {
  font-weight: bold;
  font-size: 24px;
  margin-top: 16px;
  transition: 0.3s opacity;
  color: green;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.resto-item_name:hover {
  opacity: 0.7;
}

.resto-item_desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 16px 0;
  font-size: 14px;
  line-height: 1.5em;
}

.skip-link {
  background-color: #37e557;
  border-radius: 5px;
  color: #0f0f0f;
  font-weight: 500;
  left: 0;
  line-height: 44px;
  margin: 0 auto;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: -50px;
  transition: 0.5s;
  width: max-content;
  z-index: 1500;
}

.skip-link:focus {
  top: 30px;
  
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4ddb00;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* detail .restaurant */
/* Gaya untuk elemen dengan kelas "new-detail" */
.new-detail {
  background-color: #ffffffc2;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Gaya untuk elemen dengan kelas "new-container-info" */
.new-container-info {
  display: flex;
  flex-direction: column-reverse; /* Membalikkan urutan elemen menjadi vertikal */
  align-items: center;
}

/* Gaya untuk elemen dengan kelas "new-resto-item_content" */
.new-resto-item_content {
  margin-bottom: 20px; /* Memberikan ruang antara gambar dan detail-info */
}

.new-resto-item_content img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Gaya untuk elemen dengan kelas "new-detail-info" */
.new-detail-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Gaya untuk elemen dengan kelas "new-resto-name" */
.new-resto-name {
  font-size: 1em;
  font-weight: bold;
}

/* Gaya untuk elemen dengan kelas "new-resto-address" */
.new-resto-address {
  font-style: italic;
  color: #555;
}

/* Gaya untuk elemen dengan kelas "new-resto-rating" */
.new-resto-rating {
  font-size: 1em;
  color: #ff9800;
}

/* Gaya untuk elemen dengan kelas "new-detail-desc" */
.new-detail-desc {
  font-size: 0.7em;
  margin-top: 10px;
  text-align: center;
}

/* Gaya untuk elemen dengan kelas "new-resto-category" */
.new-resto-category {
  margin-top: 10px;
}

/* Gaya untuk elemen dengan kelas "new-restaurant-detail__menu-list" */
.new-restaurant-detail__menu-list {
  display: flex;
  flex-wrap: wrap; /* Menambahkan wrap agar item bisa turun ke baris berikutnya */
  gap: 10px; /* Menambahkan jarak antar item */
}

.new-foods,
.new-drinks {
  flex: 1;
  max-width: 48%; /* Menentukan lebar maksimum untuk item agar tidak terlalu lebar pada layar kecil */
}

.new-restaurant-detail__foods,
.new-restaurant-detail__drinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.new-restaurant-detail__foods li,
.new-restaurant-detail__drinks li {
  margin-bottom: 10px;
  display: block;
  width: 100%; /* Mengisi lebar penuh dari container */
}


/* Gaya untuk elemen dengan kelas "new-detail-review" */
.new-detail-review {
  margin-top: 20px;
}

/* Gaya untuk elemen dengan kelas "new-detail-review-item" */
.new-detail-review-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

/* Gaya untuk elemen dengan kelas "new-header-review" */
.new-header-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Gaya untuk elemen dengan kelas "new-name-review" dan "new-date-review" */
.new-name-review,
.new-date-review {
  margin: 0;
}

/* Gaya untuk elemen dengan kelas "new-body-review" */
.new-body-review {
  margin-top: 10px;
}

.restaurant-item__not__found {
  margin-top: 30px;
  text-align: center;
}

/* for button  */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  min-height: 44px;
  min-width: 44px;
}

/* for tautan */
a {
  display: inline-block; /* Pastikan tautan dapat memiliki ukuran lebar dan tinggi */
  min-height: 44px;
  min-width: 44px;
}

/* for input teks and textarea */
input[type="text"],
textarea {
  min-height: 44px;
  min-width: 44px;
}
